name: Build and Deploy
on:
  push:
    branches:
      - master
jobs:
  lint:
    name: Lint
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node: ['12', '14', '16']
        os: [ubuntu-latest]

    if: "!contains(github.event.head_commit.message, 'skip ci')"
    steps:
    - uses: actions/checkout@v2
    - uses: rwjblue/setup-volta@v1
    - name: Install
      run: yarn install
    - name: ESLint
      run: |
        yarn lint
        yarn test

  build-and-deploy:
    name: Publish
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    steps:
    - name: Checkout
    uses: actions/checkout@v2
    with:
        fetch-depth: 0
    - name: Release
    env:
        GITHUB_TOKEN: ${{ secrets.GH_PAT }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    run: yarn semantic-release
